<nz-table #fixedTable [nzData]="accountsList" [nzSize]="'small'" [nzPageSize]="50">
    <thead>
        <tr>
            <th nzLeft>Nombre</th>
            <th>Descripción</th>
            <th>Tipo de cuenta</th>
            <th>Balance</th>
            <th nzRight>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fixedTable.data">
            <td nzLeft>{{ data.name }}</td>
            <td>{{ data.description }}</td>
            <td>{{ getAccountType(data) }}</td>
            <td>{{ data.balance }}</td>
            <td nzRight>
                <nz-space>
                    <button nz-button nzType="primary" [nzSize]="'large'" (click)="viewAccountDetails.emit(data)">
                        <span nz-icon nzType="eye"></span>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" [nzSize]="'large'" (click)="editAccount.emit(data)">
                        <span nz-icon nzType="edit"></span>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" [nzSize]="'large'" nzDanger (click)="deleteAccount.emit(data)">
                        <span nz-icon nzType="delete"></span>
                    </button>
                </nz-space>

            </td>
        </tr>
    </tbody>
</nz-table>