<nz-table #basicTable [nzData]="accountsList" style="padding: 50px;">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo de cuenta</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.balance }}</td>
            <td>
                <nz-divider nzType="vertical"></nz-divider>
                
                    <button nz-button nzType="primary" [nzSize]="'large'"><span nz-icon nzType="eye"></span></button>
                
                <nz-divider nzType="vertical"></nz-divider>
                
                    <button nz-button nzType="primary" [nzSize]="'large'"><span nz-icon nzType="edit"></span></button>
                
                <nz-divider nzType="vertical"></nz-divider>
                
                    <button nz-button nzType="primary" [nzSize]="'large'" nzDanger><span nz-icon nzType="delete"></span></button>
                
            </td>
            <!-- <td>
                <nz-divider nzType="vertical"></nz-divider>
                <a class="header-user">
                    <span nz-icon nzType="eye" nzTheme="outline"></span>
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a class="header-user">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                    
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a class="header-user">
                    <span nz-icon nzType="delete" nzTheme="outline"></span> 
                </a>
            </td> -->
        </tr>
    </tbody>
</nz-table>