<nz-header>
    <div>
        <span class="header-title">
            <a routerLink="">
                WalletCare
            </a>
        </span>
        <span class="header-trigger" (click)="toggleCollapsed()">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
    </div>
    <div>
        <a class="header-calculator" (click)="openCalculator()">
            <span nz-icon nzType="calculator" nzTheme="outline"></span>
        </a>
        <nz-badge [nzDot]="dot">
            <a class="header-notification">
                <app-notification-display [(visibleNotifications)]="visibleNotifications"></app-notification-display>
            </a>
        </nz-badge>
        <div>
            <a class="header-user" nz-dropdown [nzDropdownMenu]="menu">
                <span nz-icon nzType="user" nzTheme="outline"></span> {{user?.nickname}}
                <span nz-icon nzType="down"></span>
            </a> 
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="navigateToProfile()">
                        <span nz-icon nzType="setting" nzTheme="outline"></span> Mi Perfil
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="logout()">
                        <span nz-icon nzType="logout" nzTheme="outline"></span> Cerrar Sesión
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
</nz-header>

<nz-drawer [nzClosable]="false" [nzVisible]="visibleCalculator" nzPlacement="right" nzTitle="Herramientas y calculadoras" (nzOnClose)="closeCalculator()">
    <ng-container *nzDrawerContent>
        <button nz-button nzType="primary"  (click)="showModal()" nzBlock><span nz-icon nzType="credit-card" nzTheme="outline"></span>Calculadora de
            Cuotas</button>
    </ng-container>
</nz-drawer>

<nz-modal [(nzVisible)]="isVisible" nzTitle="title"
    (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
    <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="handleOk()">Cerrar</button>
    </ng-template>
    <ng-container *nzModalContent>
        <div *nzModalContent>
            <form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
    
                <!-- name -->
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="name">Nombre de la cuenta</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorNameTpl">
                        <nz-input-group>
                            <input type="text" nz-input formControlName="name">
                            <ng-template #errorNameTpl let-control>
                                @if (control.errors?.['maxlength']) { El nombre de la cuenta no puede tener más de 100 caracteres } @else if (control.errors?.['minlength']) { El nombre de la cuenta debe tener al menos 4 caracteres } @else if (control.errors?.['required']) { Por favor
                                ingrese el nombre de la cuenta } @else if(control.errors?.['duplicated']){ El nombre de la cuenta ya existe } @else if (control.errors?.['pattern']) { El nombre de la cuenta solo puede contener letras y números } @else { {{control.errors?.['message']}}
                                }
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
    
                <!-- description -->
                <nz-form-item>
                    <nz-form-label nzFor="description">Descripción</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorDescriptionTpl">
                        <nz-textarea-count [nzMaxCharacterCount]="200">
                            <textarea rows="3" formControlName="description" nz-input></textarea>
                            <ng-template #errorDescriptionTpl let-control>
                                @if (control.errors?.['maxlength']) { La descripción no puede tener más de 200 caracteres } @else { {{control.errors?.['message']}} }
                            </ng-template>
                        </nz-textarea-count>
                    </nz-form-control>
                </nz-form-item>
    
                @if (type == ITypeForm.create) {
                <!-- type | radio -->
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="type">Tipo de cuenta</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorTypeTpl">
                        <nz-radio-group formControlName="type">
                            <label nz-radio nzValue="{{IAccountType.personal}}">Personal</label>
                            <label nz-radio nzValue="{{IAccountType.shared}}">Compartida</label>
                        </nz-radio-group>
                        <ng-template #errorTypeTpl let-control>
                            @if (control.errors?.['required']) { Por favor seleccione el tipo de cuenta } @else { {{control.errors?.['message']}} }
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                }
            </form>
        </div>
        <div *nzModalFooter>
            <button nz-button nzType="default" [disabled]="isLoading" (click)="handleCancel()">Cancelar</button>
            <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="handleSubmit()">
                {{ type === ITypeForm.create ? 'Crear' : 'Actualizar' }}
            </button>
        </div>
    </ng-container>
</nz-modal>