<nz-table #fixedTable [nzData]="incomeList" [nzSize]="'small'" [nzPageSize]="15" [nzScroll]="{ x: '0px' }" [nzWidthConfig]="['150px', '150px', '200px', '100px', '150px', '190px']">
    <thead>
        <tr>
            <th>Nombre</th>
            <TH>Fecha de creación</TH>
            <th>Descripción</th>
            <th>Tipo de Ingreso</th>
            <!--<th>Tipo de Monto</th>-->
            <th>Monto</th>
            <th nzRight>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fixedTable.data">
            <td>{{ data.name }}</td>
            <td>{{formatDate(data.createdAt)}}</td>
            <td>{{ data.description }}</td>
            <td>{{getIncomeType(data)}}</td>
            <!--<td>{{getAmountType(data)}}</td>-->
            <td>{{"₡"+data.amount}}</td>
            <td nzRight>
                <nz-space>
                    <button nz-button nzType="default" [nzSize]="'large'" (click)="viewIncomeDetails.emit(data)">
                        <span nz-icon nzType="eye"></span>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="default" [nzSize]="'large'" (click)="editIncome.emit(data)">
                        <span nz-icon nzType="edit"></span>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" [nzSize]="'large'" nzDanger (click)="deleteIncome.emit(data)">
                        <span nz-icon nzType="delete"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>