<nz-modal nzTitle="{{ title }}" [nzVisible]="isVisible" [nzOkLoading]="isLoading" (nzOnCancel)="handleCancel()"
    [nzCancelLoading]="isLoading" nzWidth="600px">
    <div *nzModalContent>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
            <!-- name -->
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name">Nombre del gasto</nz-form-label>
                <nz-form-control [nzErrorTip]="errorNameTpl">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="name">
                        <ng-template #errorNameTpl let-control>
                            @if (control.errors?.['maxlength']) {
                            El nombre del gasto no puede tener más de 100 caracteres
                            }
                            @else if (control.errors?.['minlength']) {
                            El nombre del gasto debe tener al menos 4 caracteres
                            }
                            @else if (control.errors?.['required']) {
                            Por favor ingrese el nombre del gasto
                            }
                            @else if(control.errors?.['duplicated']){
                            El nombre del gasto ya existe
                            }
                            @else if (control.errors?.['pattern']) {
                            El nombre del gasto solo puede contener letras y números
                            }
                            @else {
                            {{control.errors?.['message']}}
                            }
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <div nz-row nzSpan="24">
                <div nz-col nzSpan="13">
                    <!-- amount -->
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="amount">Monto</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorAmountTpl">
                            <nz-input-group>
                                <nz-input-number class="input-number" [nzMin]="0" formControlName="amount"
                                    [nzFormatter]="formatterConlon" [nzParser]="parserConlon">
                            </nz-input-number>
                                <ng-template #errorAmountTpl let-control>
                                    @if (control.errors?.['required']) {
                                    Por favor ingrese el monto
                                    }
                                    @else if (control.errors?.['min']) {
                                    El monto dede se 0 o mayor
                                    }
                                    @else {
                                    {{control.errors?.['message']}}
                                    }
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- amountType -->
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="amountType">¿Es un gasto neto o bruto?</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorAmountTypeTpl">
                            <nz-radio-group formControlName="amountType">
                                <label nz-radio nzValue="{{IAmountType.net}}">Neto</label>
                                <label nz-radio nzValue="{{IAmountType.gross}}">Bruto</label>
                            </nz-radio-group>
                            <ng-template #errorAmountTypeTpl let-control>
                                @if (control.errors?.['required']) {
                                Por favor seleccione el tipo de gasto
                                }
                                @else {
                                {{control.errors?.['message']}}
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- tax -->
                    <nz-form-item>
                        <nz-form-label nzFor="tax">Declaración de impuestos (opcional)</nz-form-label>
                        <nz-form-control>
                            <nz-select class="select" formControlName="tax" nzAllowClear nzPlaceHolder="Choose"
                                (ngModelChange)="onSelectTax($event)">
                                <nz-option *ngFor="let tax of taxList" [nzLabel]="tax.name" [nzValue]="tax">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- description -->
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="description">Descripción</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorDescriptionTpl">
                            <nz-textarea-count [nzMaxCharacterCount]="200">
                                <textarea rows="9" formControlName="description" nz-input></textarea>
                                <ng-template #errorDescriptionTpl let-control>
                                    @if (control.errors?.['maxlength']) {
                                    La descripción no puede menos de 200 caracteres
                                    }
                                    @else {
                                    {{control.errors?.['message']}}
                                    }
                                </ng-template>
                            </nz-textarea-count>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            @if (expenseType === IIncomeExpenceType.recurrence) {
            <div nz-row nzSpan="24">
                <!-- frequency -->
                <div nz-col nzSpan="13">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="frequency">Frecuencia</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorFrequencyTpl">
                            <nz-radio-group formControlName="frequency" (ngModelChange)="onSelectFrequency($event)">
                                <label nz-radio nzValue="{{IFrequencyType.daily}}">Diario</label>
                                <label nz-radio nzValue="{{IFrequencyType.weekly}}">Semanal</label>
                                <label nz-radio nzValue="{{IFrequencyType.biweekly}}">Quincenal</label>
                                <label nz-radio nzValue="{{IFrequencyType.monthly}}">Mensual</label>
                                <label nz-radio nzValue="{{IFrequencyType.annual}}">Anual</label>
                                <label nz-radio nzValue="{{IFrequencyType.other}}">Personalizado</label>
                            </nz-radio-group>
                            <ng-template #errorFrequencyTpl let-control>
                                @if (control.errors?.['required']) {
                                Por favor seleccione la frecuencia
                                }
                                @else {
                                {{control.errors?.['message']}}
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                @if (this.scheduledDayVisible) {
                <!-- scheduledDay -->
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="scheduledDay">Día programado</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorScheduledDayTpl">
                            <nz-select formControlName="scheduledDay" (ngModelChange)="onSelectScheduledDay($event)">
                                <nz-option *ngFor="let day of days" [nzLabel]="day" [nzValue]="day">
                                </nz-option>
                            </nz-select>
                            <ng-template #errorScheduledDayTpl let-control>
                                @if (control.errors?.['required']) {
                                Por favor seleccione el día programado
                                }
                                @else {
                                {{control.errors?.['message']}}
                                }
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                }

                @if (this.scheduledDay === 31) {
                <span nz-typography nzType="warning">Los meses del año que tienen menos de 31 días, el día programado se
                    ajustará al último día del mes</span>
                }
            </div>
            }

            <!-- Tax | show infor tax selected -->
            @if (TaxSelected != undefined) {
            <nz-descriptions nzTitle="Información del impuesto seleccionado" nzBordered nzLayout="vertical">
                <nz-descriptions-item nzTitle="Percentage">{{this.TaxSelected.percentage}} %</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Discription">{{this.TaxSelected.description}}</nz-descriptions-item>
            </nz-descriptions>
            }
        </form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" [disabled]="isLoading" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="handleSubmit()">
            {{ type === ITypeForm.create ? 'Crear' : 'Actualizar' }}
        </button>
    </div>
</nz-modal>
