<nz-row class="{{className}}" justify="center">
  <nz-card>
    <div class="forgot-password-reset-header">
      <h1>Restablecer Contraseña</h1>
      <p>Porfavor ingrese los datos que se solicitan para proceder con el cambio de contraseña</p>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item *ngIf="className !== ''">
        <nz-form-control [nzErrorTip]="otpErrorTpl">
          <nz-input-group nzPrefixIcon="key">
            <input nz-input formControlName="otp" placeholder="OTP" />
          </nz-input-group>
          <ng-template #otpErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">OTP es requerido</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="newPasswordErrorTpl">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
            <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="newPassword" placeholder="Nueva Contraseña" />
          </nz-input-group>
          <ng-template #newPasswordErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">La nueva contraseña es requerida</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</ng-container>
            <ng-container *ngIf="control.errors?.['pattern']">La contraseña debe incluir un número,un símbolo y una letra mayúscula</ng-container>
          </ng-template>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplateConfirm">
            <input nz-input [type]="confirmPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
          </nz-input-group>
          <ng-template #confirmPasswordErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">Confirmar contraseña es requerido</ng-container>
          </ng-template>
          <ng-template #suffixTemplateConfirm>
            <span
              nz-icon
              [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="confirmPasswordVisible = !confirmPasswordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'">Restablecer Contraseña</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-row>
