<nz-row class="forgot-password-reset-container" justify="center">
  <nz-card>
    <div class="forgot-password-reset-header">
      <h1>Restablecer Contraseña</h1>
      <p>Por favor ingrese el OTP que se envió a su correo electrónico y una nueva contraseña para su usuario</p>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="otpErrorTpl">
          <nz-input-group nzPrefixIcon="key">
            <input nz-input formControlName="otp" placeholder="OTP" />
          </nz-input-group>
          <ng-template #otpErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">OTP es requerido</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="newPasswordErrorTpl">
          <nz-input-group nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="newPassword" placeholder="Nueva Contraseña" />
          </nz-input-group>
          <ng-template #newPasswordErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">La nueva contraseña es requerida</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</ng-container>
            <ng-container *ngIf="control.errors?.['pattern']">La contraseña debe incluir un número y un símbolo</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
          <nz-input-group nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
          </nz-input-group>
          <ng-template #confirmPasswordErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">Confirmar contraseña es requerido</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'">Restablecer Contraseña</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-row>
