<nz-row class="forgot-password-container" justify="center">
    <nz-card>
      <div class="forgot-password-header">
        <h1 class="forgot-password-title">Recuperar Contraseña</h1>
        <p class="forgot-password-description">Ingresa tu correo electrónico para recibir un enlace de recuperación.</p>
      </div>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="forgot-password-form">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group nzPrefixIcon="mail">
              <input nz-input formControlName="email" placeholder="Correo electrónico" />
              <ng-template #errorTpl let-control>
                <div *ngIf="control.errors?.['required']">Por favor ingrese su correo electrónico</div>
                <div *ngIf="control.errors?.['email']">El correo electrónico no es válido</div>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button [nzType]="'primary'" class="forgot-password-button">Enviar OTP</button>
        <nz-divider></nz-divider>
      </form>
      <a nz-button [nzType]="'default'" routerLink="/auth/login" class="forgot-password-link">Volver al inicio de sesión</a>
    </nz-card>
</nz-row>
  