<nz-page-header>
    <nz-page-header-title>
        Metas Propuestas &nbsp;
        <span nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="'#d48806'" nzType="info-circle" nz-popover nzPopoverTitle="Lista de metas propuestas" nzPopoverContent="En esta página encontrará todas las metas propuestas por AI."></span>
    </nz-page-header-title>
    <nz-page-header-extra>
        @if (!authService.isAdmin()){
        <button nz-button nzType="primary" (click)="proposeGoal()" [nzLoading]="goalService.isProposingGoal$()">
            <i nz-icon nzType="plus"></i>
             Proponer Meta por AI
        </button> }
    </nz-page-header-extra>
    <nz-page-header-content>
        <app-goals-list [goalsList]="goalService.goals$()" (acceptGoal)="acceptGoal($event)" (rejectGoal)="rejectGoal($event)" (deleteGoal)="deleteGoal($event)" />
    </nz-page-header-content>
</nz-page-header>