<!--
<input nz-input placeholder="Filter by Name" [(ngModel)]="filters.name" (input)="applyFilters()" />
-->
<nz-table #fixedTable [nzData]="notificationList" [nzSize]="'small'" [nzPageSize]="50" [nzScroll]="{ x: '0px' }" [nzWidthConfig]="['100px', '100px', '130px']">
    <thead>
        <tr>
            <th nzColumnKey="title" [nzSortFn]="sortByTitle">Asunto</th>
            <th nzColumnKey="'message" *ngIf="showDetailsModal">Contenido</th>
            <th nzColumnKey="type" [nzSortFn]="sortByType" *ngIf="showDetailsModal">Tipo</th>
            <th nzColumnKey="createdAt" [nzSortFn]="sortByDate">Enviado a las</th>
            <th nzRight>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fixedTable.data">
            <td>{{ data.title }}</td>
            <td *ngIf="showDetailsModal">{{ data.message }}</td>
            <td *ngIf="showDetailsModal">{{ data.type }}</td>
            <td>{{ getDate(data.createdAt) }}</td>
            <td nzRight>
                <nz-space>
                    <button nz-button nzType="default" [nzSize]="'large'" (click)="detailsNotification.emit(data)"><span nz-icon nzType="eye"></span></button>
                    <nz-divider nzType="vertical" *ngIf="showDetailsModal"></nz-divider>
                    <button nz-button nzType="default" [nzSize]="'large'" (click)="readNotification.emit(data)"><span nz-icon nzType="mail"></span></button>
                    <button nz-button nzType="primary" [nzSize]="'large'" nzDanger (click)="deleteNotification.emit(data)"><span nz-icon nzType="delete"></span></button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>