<nz-row class="login-form-container">
  <nz-card>
    <div nz-row class="login-form-header">
      <div nz-col [nzSpan]="24">
        <h1 class="login-form-title">Nuevo usuario</h1>
      </div>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleSignup()">
      <!-- Name Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Nombre" />
          </nz-input-group>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">Por favor ingrese su nombre.</ng-container>
            <ng-container *ngIf="control.errors?.['pattern']">El nombre solo puede contener letras y números.</ng-container>
            <ng-container *ngIf="control.errors?.['maxlength']">El nombre no puede tener más de 50 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Lastname Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="lastnameErrorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="lastname" placeholder="Apellido" />
          </nz-input-group>
          <ng-template #lastnameErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">Por favor ingrese su apellido.</ng-container>
            <ng-container *ngIf="control.errors?.['pattern']">El apellido solo puede contener letras y números.</ng-container>
            <ng-container *ngIf="control.errors?.['maxlength']">El apellido no puede tener más de 50 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">El apellido debe tener al menos 3 caracteres.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Nickname Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="nicknameErrorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="nickname" placeholder="Alias" />
          </nz-input-group>
          <ng-template #nicknameErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">Por favor ingrese su alias.</ng-container>
            <ng-container *ngIf="control.errors?.['pattern']">El alias solo puede contener letras y números.</ng-container>
            <ng-container *ngIf="control.errors?.['maxlength']">El alias no puede tener más de 10 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">El alias debe tener al menos 2 caracteres.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Email Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="email" placeholder="Correo electrónico" />
          </nz-input-group>
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['required']">Por favor ingrese su correo electrónico.</ng-container>
            <ng-container *ngIf="control.errors?.['email']">El correo electrónico no es válido.</ng-container>
            <ng-container *ngIf="control.errors?.['duplicated']">Ya existe una cuenta que usa este correo electrónico.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Identification Number Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="idErrorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="identificationNumber" placeholder="Número de identificación" />
          </nz-input-group>
          <ng-template #idErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['pattern']">El número de identificación solo puede contener números.</ng-container>
            <ng-container *ngIf="control.errors?.['maxlength']">El número de identificación no puede tener más de 14 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">El número de identificación debe tener al menos 16 caracteres.</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Address Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="addressErrorTpl">
          <nz-textarea-count [nzMaxCharacterCount]="225">
            <textarea rows="3" formControlName="address" nz-input placeholder="Dirección"></textarea>
          </nz-textarea-count>
          <ng-template #addressErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['maxlength']">La dirección no puede tener más de 225 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['message']">{{control.errors?.['message']}}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Password Field -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña.">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <nz-divider></nz-divider>

      <!-- Account Name Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="accountNameErrorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="accountName" placeholder="Nombre de cuenta financiera" />
          </nz-input-group>
          <ng-template #accountNameErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['maxlength']">El nombre de la cuenta no puede tener más de 100 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['minlength']">El nombre de la cuenta debe tener al menos 4 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['required']">Por favor ingrese el nombre de la cuenta financiera.</ng-container>
            <ng-container *ngIf="control.errors?.['pattern']">El nombre de la cuenta financiera solo puede contener letras y números.</ng-container>
            <ng-container *ngIf="control.errors?.['message']">{{control.errors?.['message']}}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Account Description Field -->
      <nz-form-item>
        <nz-form-control [nzErrorTip]="accountDescriptionErrorTpl">
          <nz-textarea-count [nzMaxCharacterCount]="200">
            <textarea rows="3" formControlName="accountDescription" nz-input placeholder="Descripción de cuenta financiera"></textarea>
          </nz-textarea-count>
          <ng-template #accountDescriptionErrorTpl let-control>
            <ng-container *ngIf="control.errors?.['maxlength']">La descripción de su cuenta financiera no puede tener más de 200 caracteres.</ng-container>
            <ng-container *ngIf="control.errors?.['message']">{{control.errors?.['message']}}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <br>
      <button nz-button class="login-form-button" [nzType]="'primary'">Registrarse</button>
    </form>
    <nz-divider></nz-divider>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" onclick="window.location.href='/login';">Iniciar sesión</button>
  </nz-card>
</nz-row>
