<nz-row class="login-form-container">
  <nz-card>
    <div nz-row class="login-form-header">
      <div nz-col [nzSpan]="24">
        <h1 class="login-form-title">Nuevo usuario</h1>
      </div>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleSignup()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Nombre" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su nombre.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="lastname" placeholder="Apellido" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su apellido.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="nickname" placeholder="Alias" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su alias.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="email" placeholder="Correo electrónico" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su correo electrónico.</span>
              <span *ngIf="control.errors?.['email']">El correo electrónico no es válido.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="identyNumber" placeholder="Número de identificación" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su número de identificación.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="address" placeholder="Dirección" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su dirección.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button" [nzType]="'primary'">Registrarse</button>
    </form>
    <nz-divider></nz-divider>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" onclick="window.location.href='/login';">Iniciar sesión</button>
  </nz-card>
</nz-row>

<!--
<nz-row class="login-form-container">
  <nz-card>
    <div nz-row class="login-form-header">
      <div nz-col [nzSpan]="24">
        <h1 class="login-form-title">Registrarse en WalletCare</h1>
      </div>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleSignup($event)">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Nombre" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su nombre.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="lastname" placeholder="Apellido" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su apellido.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="nickname" placeholder="Alias" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su alias.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="email" placeholder="Correo electrónico" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su correo electrónico.
              }
              @if (control.errors?.['email']) {
              El correo electrónico no es válido.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="identy-number" placeholder="Número de identificación" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su número de identificación.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="address" placeholder="Dirección" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su dirección.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button" [nzType]="'primary'">Registrarse</button>
  

        <div class="form-group mb-0">
            <button class="btn btn-primary btn-block w-100" type="submit">Sign up</button> @if(signUpError) {
            <p class="text-danger">{{signUpError}}</p>
            } @else if (validSignup){
            <p class="text-success">User registered, please go to login</p>
            }
        </div>


    </form>
    <nz-divider></nz-divider>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" onclick="window.location.href='/login';">Iniciar sesión</button>
  </nz-card>
</nz-row>
-->

<!--
<div class="login-container">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="login-card">
            <div class="w-100">
                <div class="login-main">
                    <form (ngSubmit)="handleSignup()" autocomplete="off" #frm="ngForm">
                        <div class="d-flex align-items-center mb-3">
                            <div class="form-group px-1">
                                <label for="name" class="form-label mb-2">
                                  Name
                                </label>
                                <input #name="ngModel" type="text" class="form-control" id="name" name="name" placeholder="User" [(ngModel)]="user.name" [ngClass]="{
                    'is-invalid': name.invalid && name.touched,
                    'is-valid': name.valid && name.touched
                  }" required />
                                <div *ngIf="name.invalid" class="invalid-feedback">
                                    Please add a valid name
                                </div>
                            </div>
                            <div class="form-group px-1">
                                <label for="lastname" class="form-label mb-2">Lastname</label>
                                <input #lastname="ngModel" type="text" class="form-control" id="lastname" name="lastname" placeholder="demo" [(ngModel)]="user.lastname" [ngClass]="{
                    'is-invalid': lastname.invalid && lastname.touched,
                    'is-valid': lastname.valid && lastname.touched
                  }" required />
                                <div *ngIf="lastname.invalid" class="invalid-feedback">
                                    Please add a valid lastname
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="email" class="form-label mb-2">Email Address</label>
                            <input #email="ngModel" type="text" class="form-control" id="email" name="email" placeholder="agent@gmail.com" [(ngModel)]="user.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
                            <div *ngIf="email.invalid" class="invalid-feedback">
                                Please add a valid email
                            </div>
                        </div>

                        <div class="form-group mb-5">
                            <label for="password" class="form-label mb-2">Password</label>
                            <div class="form-input position-relative">
                                <input #password="ngModel" type="password" class="form-control" id="password" name="password" placeholder="*****" [(ngModel)]="user.password" [ngClass]="{
                  'is-invalid': password.invalid && password.touched,
                  'is-valid': password.valid && password.touched
                }" required />
                                <div *ngIf="password.invalid" class="invalid-feedback">
                                    Please add a valid password
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->