<nz-row class="login-form-container">
  <nz-card>
    <div nz-row class="login-form-header">
      <div nz-col [nzSpan]="24">
        <h1 class="login-form-title">Nuevo usuario</h1>
      </div>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleSignup()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Nombre" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Este campo no puede estar vacío.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="lastname" placeholder="Apellido" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su apellido.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="nickname" placeholder="Alias" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su alias.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="email" placeholder="Correo electrónico" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su correo electrónico.</span>
              <span *ngIf="control.errors?.['email']">El correo electrónico no es válido.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="identificationNumber" placeholder="Número de identificación" />
            <ng-template #errorTpl let-control>
              <span *ngIf="control.errors?.['required']">Por favor ingrese su número de identificación.</span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="address" placeholder="Dirección" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su dirección.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña.">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <br>
      <button nz-button class="login-form-button" [nzType]="'primary'">Registrarse</button>
    </form>
    <nz-divider></nz-divider>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" onclick="window.location.href='/login';">Iniciar sesión</button>
  </nz-card>
</nz-row>