.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: white;
  background-image: url("https://res.cloudinary.com/dqryzh0n1/image/upload/v1720853172/walletcare-background_grdwao.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.login-form-title {
  text-align: center;
  color: var(--ant-primary-color);
}

.login-form {
  width: 300px;
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}