<main>
  <section class="hero dark-bg">
    <img src="../../../assets/img/temp-wallet-care-logo.webp" alt="temp-logo-walletcare">
    <div class="hero-cont">
      <h1>WalletCare</h1>
      <p>Tu Aliado en la Gestión Financiera</p>
      <div class="hero-features">
        <div class="feature-item">
          <span nz-icon nzType="book" nzTheme="outline"></span>
          <span>Tome el control de sus finanzas y mejore su bienestar financiero general.</span>
        </div>
        <div class="feature-item">
          <span nz-icon nzType="calendar" nzTheme="outline"></span>
          <span>Fomente hábitos financieros saludables.</span>
        </div>
        <div class="feature-item">
          <span nz-icon nzType="fund-view" nzTheme="outline"></span>
          <span>Identifique sus oportunidades de ahorro.</span>
        </div>
      </div>
      <a href="/signup">
        <button nz-button nzType="default">¡Empieza Gratis Hoy Mismo!</button>
      </a>
    </div>
  </section>

  <section class="sct-what-is">
    <div>
      <img src="../../../assets/img/data-extraction-rafiki.svg" alt="data-extraction-rafiki">
    </div>
    <div>
      <h2>¿Qué es WalletCare?</h2>
      <p>Innovatica presenta WalletCare, una aplicación web diseñada para ayudar a individuos y hogares a establecer y mantener estrategias eficaces de gestión financiera. La plataforma ofrece un enfoque directo y eficiente de la planificación de presupuestos individuales y compartidos, facilitando la optimización de los recursos y resultados financieros.</p>
      <a href="https://storyset.com/business">Business illustrations by Storyset</a>
    </div>
  </section>

  <section class="gray-bg key-features">
    <h2>Funcionalidades Clave</h2>
    <div nz-row [nzGutter]="15">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Planificación de Presupuestos">
          <p>Gestión de presupuestos individuales y compartidos.</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Optimización Financiera">
          <p>Herramientas para la optimización de recursos y resultados financieros.</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Módulo de Herramientas Financieras">
          <p>Tipo de cambio actual, cálculo de intereses, estrategias de ahorro, y más.</p>
        </nz-card>
      </div>
    </div>
  </section>

  <section class="sct-how-we-help">
    <div>
      <h2>¿Como podemos ayudarte?</h2>
      <p>La mayoría de los hogares carecen de los conocimientos necesarios para desenvolverse con eficacia en el panorama financiero, lo que puede dar lugar a gastos innecesarios y acumulación de deudas. WalletCare está diseñado para ayudar a particulares y familias a crear y mantener un presupuesto personal o compartido, organizando sus asuntos financieros de forma estructurada y ordenada.</p>
      <a href="https://storyset.com/business">Business illustrations by Storyset</a>
    </div>
    <div>
      <img src="../../../assets/img/team-goals-rafiki.svg" alt="team-goal-rafiki">
    </div>
  </section>

  <section class="dark-bg sct-signup">
    <h2>Empieza a Mejorar Tu Gestión Financiera Hoy Mismo</h2>
    <p>Únete a WalletCare y comienza a transformar tu vida financiera con nuestras herramientas innovadoras y fáciles de usar.</p>
    <a href="/signup">
      <button nz-button nzType="default">¡Regístrate Gratis Ahora!</button>
    </a>
  </section>
</main>

<footer>
  <a href="https://innovatica.azurewebsites.net/">© Innovatica 2024</a>
</footer>