<div nz-row [nzGutter]="[12, 24]">
  <div nz-col nzSpan="12" >
    <article nz-typography class="main-content">
      <h1 nz-typography class="title">WalletCare</h1>
      <p nz-typography>
        una aplicación web diseñada para ayudar a individuos y hogares a establecer y mantener estrategias eficaces de
        gestión financiera.
      </p>
      <nz-divider></nz-divider>

      <div nz-row nzJustify="end">
        <button nz-button nzType="primary" [nzSize]="'large'">
          <span nz-icon nzType="user-add" nzTheme="outline"></span>
            Crea una cuenta
        </button>
      </div>
      <div nz-row nzJustify="end">
        <button nz-button nzType="primary" [nzSize]="'large'">
          <span nz-icon nzType="user" nzTheme="outline"></span>
          Iniciar Sesión
        </button>
      </div>

    </article>
  </div>
  <div nz-col nzSpan="12">

  </div>
  
</div>
<div nz-row>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Col</div>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">Col</div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Col</div>
</div>