

:host {
  text-align: left;
  //background-color: '#E2E6E9';
}

.main-content{
  padding: 10px;
}
.title{
  color: var(--ant-primary-color);
}


[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  width: 200px;
}
