<nz-table #fixedTable [nzData]="savingList" [nzSize]="'small'" [nzPageSize]="10" [nzScroll]="{ x: '0px' }" [nzWidthConfig]="['100px', '200px', '100px', '150px', '150px', '120px']">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="sortby.sortByName">Nombre</th>
            <th nzColumnKey="description" [nzSortFn]="sortby.sortByDescription">Descripción</th>
            <th nzColumnKey="type" [nzSortFn]="sortby.sortByType">Tipo</th>
            <th nzColumnKey="amount" [nzSortFn]="sortby.sortByAmount">Monto del ahorro</th>
            <th nzColumnKey="createdAt" [nzSortFn]="sortby.sortByDate">Fecha de creación</th>
            <th nzRight>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fixedTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.description }}</td>
            <td>{{ getSavingType(data) }}</td>
            <td>{{ "₡"+data.amount }}</td>
            <td>{{ formatDate(data.createdAt) }}</td>
            <td nzRight>
                <nz-space>
                    <button nz-button nzType="default" [nzSize]="'large'" (click)="editSaving.emit(data)">
                        <span nz-icon nzType="edit"></span>
                    </button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" [nzSize]="'large'" nzDanger (click)="deleteSaving.emit(data)">
                        <span nz-icon nzType="delete"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>