<nz-modal [nzTitle]="getTitle()" [nzVisible]="isVisible" [nzOkLoading]="isLoading" (nzOnCancel)="handleCancel()"
    [nzCancelLoading]="isLoading">
    <div *nzModalContent>

        <form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="selected">{{getPleaceholder()}}</nz-form-label>
                <nz-form-control [nzErrorTip]="getErrorMessage()">
                    <nz-select formControlName="selected" nzShowSearch nzAllowClear
                        nzPlaceHolder="{{getPleaceholder()}}" (ngModelChange)="onSelectItem($event)">
                        @if (type=="income") {
                        <nz-option *ngFor="let option of optionsIncome" [nzLabel]="option.name"
                            [nzValue]="option"></nz-option>
                        }
                        @if (type=="expense") {
                        <nz-option *ngFor="let option of optionsExpense" [nzLabel]="option.name"
                            [nzValue]="option"></nz-option>
                        }
                        @if (type=="saving") {
                            <nz-option *ngFor="let option of optionsSaving" [nzLabel]="option.name"
                                [nzValue]="option"></nz-option>
                            }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            @if (selectedItem != null){
            <nz-descriptions nzTitle="Información general" nzBordered nzLayout="vertical" [nzColumn]="4"
                [nzSize]="'small'">
                <nz-descriptions-item nzTitle="Monto">{{this.selectedItem.amount}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="¿Es neto?">{{getAmountType(this.selectedItem)}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Tipo">{{getType(this.selectedItem)}}</nz-descriptions-item>

                @if (this.selectedItem.frequency) {
                <nz-descriptions-item nzTitle="Frecuencia">{{getFrequency(this.selectedItem)}}</nz-descriptions-item>
                <nz-descriptions-item *ngIf="this.selectedItem.frequency == 'OTHER'"
                    nzTitle="Día programado">{{this.selectedItem.scheduledDay}}</nz-descriptions-item>
                }

                @if (this.selectedItem.Tax != null){
                <nz-descriptions-item nzTitle="Impuesto">{{this.selectedItem.Tax.name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Porcentaje">{{this.selectedItem.Tax.percentage}}</nz-descriptions-item>
                }

                @if (this.selectedItem.expenseCategory != null){
                <nz-descriptions-item nzTitle="Categoría">{{this.selectedItem.expenseCategory.name}}</nz-descriptions-item>
                }

                <nz-descriptions-item nzTitle="Descripción">
                    <p>{{this.selectedItem.description}}</p>
                </nz-descriptions-item>
            </nz-descriptions>
            }

            @if (selectedItem == null){
            <nz-form-item>
                <nz-form-label>{{getNoItemMessage()}}</nz-form-label>
                <nz-form-control>
                <nz-space nzDirection="vertical">
                    <button *nzSpaceItem nz-button nzType="default" nzBlock (click)="handleAddItem()">
                        {{  
                            this.type == 'income' ? 'Agregar ingreso' : 
                            this.type == 'expense' ? 'Agregar gasto' :
                            this.type == 'saving' ? 'Agregar ahorro' :
                            'Tipo no válido'
                        }}
                    </button>

                    <button *nzSpaceItem nz-button nzType="default" nzBlock (click)="handleAddRecurrentItem()">
                        {{
                            this.type == 'income' ? 'Agregar ingreso recurrente' : 
                            this.type == 'expense' ?'Agregar gasto recurrente' :
                            this.type == 'saving' ? 'Agregar ahorro recurrente' :
                            'Tipo no válido'
                        }}
                    </button>
                </nz-space>
            </nz-form-control>
            </nz-form-item>
            }
        </form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" [disabled]="isLoading" (click)="handleCancel()">Cancelar</button>
        @if (selectedItem != null){
        <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="handleConfirm()">
            @if (type=="income") {
            {{this.selectedItem?.frequency == null ? 'Agregar' : 'Activar ingreso recurrente'}}
            }
            @if ( type=="expense" ) {
            {{this.selectedItem?.frequency == null ? 'Agregar' : 'Activar gasto recurrente'}}
            }
            @if ( type=="saving" ) {
                {{this.selectedItem?.frequency == null ? 'Agregar' : 'Activar ahorro recurrente'}}
                }
        </button>
        }
    </div>
</nz-modal>