<nz-row class="login-form-container">
  <nz-card>
    <div nz-row class="login-form-header">
      <div nz-col [nzSpan]="24">
        <a [href]="'/'">
          <h1 class="login-form-title">WalletCare</h1>
        </a>
        
      </div>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleLogin()">
      <nz-alert *ngIf="loginError" nzType="error" [nzMessage]="loginError" [nzShowIcon]="false"
        class="login-form-margin" />
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Correo electrónico" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su correo electrónico
              }
              @if (control.errors?.['email']) {
              El correo electrónico no es válido
              }
            </ng-template>
          </nz-input-group>
          
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
            <input nz-input formControlName="password" placeholder="Cotraseña" [type]="passwordVisible ? 'text' : 'password'"/>
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12" [nzOffset]="12">
          <a class="login-form-forgot login-form-margin" (click)="forgotPassowrd()">Olvidé mi contraseña</a>
        </div>
      </div>
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoggingIn">Iniciar sesión</button>
      <nz-divider></nz-divider>
    </form>
    <a nz-button class="login-form-button login-form-margin" [nzType]="'default'" [href]="'/signup'">
      Registrarse </a>
  </nz-card>
</nz-row>


<nz-modal nzTitle="Recuperar contraseña" [nzVisible]="isVisible">
  <div *nzModalContent>
    <app-forgot-password></app-forgot-password>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="closeModal()">
      Cerrar
    </button>
  </div>
</nz-modal>