<nz-row class="login-form-container">
  <nz-card>
    <div nz-row class="login-form-header">
      <div nz-col [nzSpan]="24">
        <a href="">
          <h1 class="login-form-title">WalletCare</h1>
        </a>
      </div>
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleLogin()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Correo electrónico" />
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) {
              Por favor ingrese su correo electrónico.
              }
              @if (control.errors?.['email']) {
              El correo electrónico no es válido.
              }
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña.">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12" [nzOffset]="12">
          <a class="login-form-forgot">Olvidé mi contraseña</a>
        </div>
      </div>
      <button nz-button class="login-form-button" [nzType]="'primary'">Iniciar sesión</button>
    </form>
    <nz-divider></nz-divider>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" onclick="window.location.href='/signup';">Registrarse</button>
  </nz-card>
</nz-row>