<nz-page-header>
    <nz-page-header-title>
        Mis Gastos
        <button nz-button nz-popover nzType="dashed" nzPopoverTitle="Lista de plantillas" nzPopoverContent="En esta página encontrará todas sus plantillas de gastos." nzShape="circle"><span nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="'#d48806'" nzType="info-circle"></span></button>
    </nz-page-header-title>
    <nz-page-header-extra>
        <nz-space [nzWrap]="true">
            <button *nzSpaceItem nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
            Crear Gasto
            <span nz-icon nzType="down"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="showModalCreate(IIncomeExpenceType.unique)">
                        <a>Gasto único</a>
                    </li>
                    <li nz-menu-item (click)="showModalCreate(IIncomeExpenceType.recurrence)">
                        <a>Gasto recurrente</a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
        <app-expense-list [expensesList]="expenseService.expenses$()" [showAccount]="true" (editExpense)="showModalEdit($event)" (deleteExpense)="deleteExpense($event)"></app-expense-list>
    </nz-page-header-content>
</nz-page-header>

<app-expense-form #form [isVisible]="isVisible()" [isLoading]="isLoading()" [item]="expense()" [type]="TypeForm" [title]="title" [expenseType]="expenseType" [taxList]="taxService.taxes$()" (onCanceled)="onCanceled()" (onCreated)="createExpense($event)"
    (onUpdated)="updateExpense($event)">
</app-expense-form>