<nz-space nzSize="middle" [nzWrap]="true">
    <button class="btn" *nzSpaceItem nz-button nzType="default">
        <i nz-icon nzType="plus"></i>
        Agregar gastos
    </button>
    <button class="btn" *nzSpaceItem nz-button nzType="default">
        <i nz-icon nzType="plus"></i>
        Agregar ingresos
    </button>
    @if (isAccountShared && isOwner) {
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="inviteFriend()">
        <i nz-icon nzType="plus"></i>
        Invitar a un amigo
    </button>
    }
    @if (isAccountShared && !isOwner && isMember) {
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="leaveAccount()">
        <i nz-icon nzType="minus"></i>
        Salir de la cuenta
    </button>
    }
    @if (isAccountShared && !isOwner && !isMember) {
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="deleteAccountUser()">
        <i nz-icon nzType="delete"></i>
        Eliminar cuenta
    </button>
    }
    @if(isOwner){
    <button class="btn" *nzSpaceItem nz-button nzType="default" nz-dropdown [nzDropdownMenu]="menu">
        Otras opciones
        <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item (click)="showEditAccountForm()">Editar cuenta</li>
            <li nz-menu-item (click)="deleteAccount()">Eliminar cuenta</li>
        </ul>
    </nz-dropdown-menu>
    }

</nz-space>


<app-account-form #form [isVisible]="isVisible()" [type]="IITypeForm.update" [title]="'Editar cuenta'"
    (onCanceled)="onCanceled()" (onUpdated)="editAccount($event)" [item]="accountService.account$()"
    [isLoading]="isLoading()">
</app-account-form>

<app-invite-account [isVisible]="isVisibleInvite" (onClose)="closeInviteFriend()"></app-invite-account>