<nz-space nzSize="middle" [nzWrap]="true">
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="showTransactionForm('expense')">
        <i nz-icon nzType="plus"></i>
        Agregar gasto
    </button>
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="showTransactionForm('income')">
        <i nz-icon nzType="plus"></i>
        Agregar ingreso
    </button>
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="showTransactionForm('saving')">
        <i nz-icon nzType="plus"></i>
        Agregar ahorro
    </button> 
    @if (isAccountShared && isOwner) {
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="inviteFriend()">
        <i nz-icon nzType="plus"></i>
        Invitar a un amigo
    </button> } @if (isAccountShared && !isOwner && isMember) {
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="leaveAccount()">
        <i nz-icon nzType="minus"></i>
        Salir de la cuenta
    </button> } @if (isAccountShared && !isOwner && !isMember) {
    <button class="btn" *nzSpaceItem nz-button nzType="default" (click)="deleteAccountUser()">
        <i nz-icon nzType="delete"></i>
        Eliminar cuenta
    </button> } @if(isOwner){
    <button class="btn" *nzSpaceItem nz-button nzType="default" nz-dropdown [nzDropdownMenu]="menu">
        Otras opciones
        <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item (click)="showEditAccountForm()">Editar cuenta</li>
            @if (isOwner) {
            <li nz-menu-item (click)="deleteAccount()">Eliminar cuenta</li>
            }
        </ul>
    </nz-dropdown-menu>
    }

</nz-space>


<app-account-form #form 
    [isVisible]="isVisibleEditAccount()" 
    [type]="IITypeForm.update"
    [title]="'Editar cuenta'"
    [item]="accountService.account$()"
    [isLoading]="isLoading()"
    (onCanceled)="closeModal()" 
    (onUpdated)="editAccount($event)">
</app-account-form>

<app-invite-account 
    [isVisible]="isVisibleInvite" (onClose)="closeModal()">
</app-invite-account>

<app-expense-form #formExpense [isVisible]="isVisibleExpense()" [isLoading]="isLoading()" [enableTemplate]="true" [item]="expense()" [type]="TypeForm" [title]="title" 
    [expenseType]="incomeExpenceSavingType" [taxList]="taxService.taxes$()" (onCanceled)="closeModalIncomeOrExpense()"
    [categories]="CategoryService.categories$()"
    (onCreated)="createExpense($event)">
</app-expense-form>

<app-income-form #formIncome [isVisible]="isVisibleIncome()" [isLoading]="isLoading()" [enableTemplate]="true" [item]="income()" [type]="TypeForm" [title]="title" 
    [incomeType]="incomeExpenceSavingType" [taxList]="taxService.taxes$()" (onCanceled)="closeModalIncomeOrExpense()"
    (onCreated)="createIncome($event)">
</app-income-form>

<app-saving-form #formSaving [isVisible]="isVisibleSaving()" [isLoading]="isLoading()" [enableTemplate]="true" [item]="saving()" [type]="TypeForm" [title]="title" 
    [savingType]="incomeExpenceSavingType" (onCanceled)="closeModalIncomeOrExpense()"
    (onCreated)="createSaving($event)">
</app-saving-form>

<app-transaction-form [isVisible]="isVisibleTransaction" [isLoading]="isLoadingTransaction" [type]="TransactionFormType" [listIncome]="incomeService.incomes$()"
    [listExpense]="expenseService.expenses$()" [listSaving]="savingService.savings$()" (onCancel)="closeModal()" (onSelected)="addSelectedTransaction($event)"
    (onCreated)="showModalIncomeOrExpense($event)">
</app-transaction-form>